{% include 'base.html' %}


<p id="siteContent" style="text-align: center; top: 70px; font-size: 100px; padding-top: 90px" >Welcome in site!</p>
<script src="static/switcher.js"></script>

<div class="words word-1">
  <span>M</span>
  <span>O</span>
  <span>V</span>
  <span>E</span>
</div>

<div class="words word-2">
  <span>A</span>
  <span>N</span>
  <span>D</span>
</div>

<div class="words word-3">
  <span>C</span>
  <span>R</span>
  <span>E</span>
  <span>A</span>
  <span>T</span>
  <span>E</span>
</div>

<div class="words word-4">
  <span>F</span>
  <span>U</span>
  <span>T</span>
  <span>U</span>
  <span>R</span>
  <span>E</span>
</div>

<h1 class="text_light"><span>ALL</span></span>POSSIBLE</span></h1>
