{% include 'base.html' %}

<body style="background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)">

    <div class="beach_info" style="text-align: center; margin-top: 50px">
        <iframe width="1120" height="515"
            src="https://www.youtube.com/embed/xGRjCa49C6U">
        </iframe>
        <p class="fst-italic lh-lg">A beach is a narrow, gently sloping strip of land that lies along the edge of an ocean, lake, or river. Materials such as sand, pebbles, rocks, and seashell fragments cover beaches.</p>
        <p class="fst-italic lh-lg">Most beach materials are the products of weathering and erosion. Over many years, water and wind wear away at the land. The continual action of waves beating against a rocky cliff, for example, may cause some rocks to come loose. Huge boulders can be worn town to tiny grains of sand.</p>
        <p class="fst-italic lh-lg">Beach materials may travel long distances, carried by wind and waves. As the tide comes in, for example, it deposits ocean sediment. This sediment may contain sand, shells, seaweed, even marine organisms like crabs or sea anemones. When the tide goes out, it takes some sediment with it.</p>
        <p class="fst-italic lh-lg">Tides and ocean currents can carry sediment a few meters or hundreds of kilometers away. Tides and currents are the main way beaches are created, changed, and even destroyed, as the currents move sediment and debris from one place to another.</p>

        <a href="/images"><button type="button" class="btn btn-outline-success">Back</button></a>
    </div>
</body>