{% include 'base.html' %}


<div class="btn-group">
  <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Action
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/images/info">Info</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">...</a></li>
  </ul>
</div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://wallpaperaccess.com/full/865184.jpg" class="d-block w-100" alt="image_1.jpeg">
    </div>
    <div class="carousel-item">
      <img src="https://wallpapercave.com/wp/ZcVxlg8.jpg" class="d-block w-100" alt="image_2.jpeg">
    </div>
    <div class="carousel-item">
      <img src="https://wallpapercave.com/wp/AumsrZG.jpg" class="d-block w-100" alt="image_3.jpeg">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
